.clients {
  height: 200px;
  width: 80px;
  padding: 0px;
  color: rgba(35, 33, 41, 0.8);
}

.trusted {
  padding-top: 25px;
  padding-left: 25px;
  text-align: left;
  font-size: 0.75rem;
  font: 12px;
  line-height: 2px;
}

.companies {
    width: 10%;
}


