.trusted {
  padding-top: 25px;
  padding-left: 25px;
  text-align: left;
  font-size: 0.75rem;
  font: 12px;
  line-height: 2px;
}

.clients {
    height: 200px;
    width: auto;
    padding: 0px;
}


